# XGBoost
## Alex Chen

$var_1$ = Open

$var_2$ = Close

# Import Library

In [8]:
#library pengolahan data
import datetime as dt
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import pandas_ta as ta

#library sklearn untuk modelling.
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

#library error
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

# library xgboost
from xgboost import XGBRegressor

lr = LinearRegression(copy_X= True, fit_intercept = True, n_jobs= None, positive=False)
sfs = SequentialFeatureSelector(lr)
X = feature_train_X
y = feature_train_Y

sfs.fit(X,y)

# Tarik data

In [9]:
yf.pdr_override()
df = pdr.get_data_yahoo(["BTC-USD"])

[*********************100%%**********************]  1 of 1 completed

In [10]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-04,65975.695312,69291.257812,65113.796875,68508.843750,68508.843750,34439527442
2024-04-05,68515.757812,68725.757812,66011.476562,67837.640625,67837.640625,33748230056
2024-04-06,67840.570312,69629.601562,67491.718750,68896.109375,68896.109375,19967785809
2024-04-07,68897.109375,70284.429688,68851.632812,69362.554688,69362.554688,21204930369
2024-04-08,69360.914062,72348.695312,69152.328125,72113.507812,72113.507812,28613490688

# Edit Data sesuai research

In [11]:
df_xg = df.iloc[:,:4]
days=5
df1 = pd.DataFrame()
for j in range(days+1):
    for i in df_xg.columns:
        if j==0:
            df1[f'{i}'] = df_xg[i].iloc[j:]
        else:
            df1[f'{i}_t-{j}'] = df_xg[i].iloc[j:]

In [12]:
df1.loc[:,['Open']+list(df1.columns[4:])]

,Open,Open_t-1,High_t-1,Low_t-1,Close_t-1,Open_t-2,High_t-2,Low_t-2,Close_t-2,Open_t-3,...,Low_t-3,Close_t-3,Open_t-4,High_t-4,Low_t-4,Close_t-4,Open_t-5,High_t-5,Low_t-5,Close_t-5
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-17,465.864014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-18,456.859985,456.859985,456.859985,413.104004,424.440002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-19,424.102997,424.102997,427.834991,384.532013,394.795990,424.102997,427.834991,384.532013,394.795990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-20,394.673004,394.673004,423.295990,389.882996,408.903992,394.673004,423.295990,389.882996,408.903992,394.673004,...,389.882996,408.903992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-21,408.084991,408.084991,412.425995,393.181000,398.821014,408.084991,412.425995,393.181000,398.821014,408.084991,...,393.181000,398.821014,408.084991,412.425995,393.181000,398.821014,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-04,65975.695312,65975.695312,69291.257812,65113.796875,68508.843750,65975.695312,69291.257812,65113.796875,68508.843750,65975.695312,...,65113.796875,68508.843750,65975.695312,69291.257812,65113.796875,68508.843750,65975.695312,69291.257812,65113.796875,68508.843750
2024-04-05,68515.757812,68515.757812,68725.757812,66011.476562,67837.640625,68515.757812,68725.757812,66011.476562,67837.640625,68515.757812,...,66011.476562,67837.640625,68515.757812,68725.757812,66011.476562,67837.640625,68515.757812,68725.757812,66011.476562,67837.640625
2024-04-06,67840.570312,67840.570312,69629.601562,67491.718750,68896.109375,67840.570312,69629.601562,67491.718750,68896.109375,67840.570312,...,67491.718750,68896.109375,67840.570312,69629.601562,67491.718750,68896.109375,67840.570312,69629.601562,67491.718750,68896.109375
2024-04-07,68897.109375,68897.109375,70284.429688,68851.632812,69362.554688,68897.109375,70284.429688,68851.632812,69362.554688,68897.109375,...,68851.632812,69362.554688,68897.109375,70284.429688,68851.632812,69362.554688,68897.109375,70284.429688,68851.632812,69362.554688
2024-04-08,69360.914062,69360.914062,72348.695312,69152.328125,72113.507812,69360.914062,72348.695312,69152.328125,72113.507812,69360.914062,...,69152.328125,72113.507812,69360.914062,72348.695312,69152.328125,72113.507812,69360.914062,72348.695312,69152.328125,72113.507812

# Train Test Split Data

In [67]:
X = df1.iloc[-1000:,]
X = X.loc[:,list(df1.columns[4:])]
y = df1.iloc[-1000:,3:4]

In [68]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,shuffle=True,random_state=33)

# Bangkitkan Model

Percobaan 1 Tuning Parameter : n_estimators=140, learning_rate = 0.07,objective='reg:squarederror',max_depth=7,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

Percobaan 2 Tuning Parameter : n_estimators=160, learning_rate = 0.07,objective='reg:squarederror',max_depth=8,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

Percobaan 3 Tuning Parameter : n_estimators=200, learning_rate = 0.07,objective='reg:squarederror',max_depth=8,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

Percobaan 4 Tuning Parameter : n_estimators=250, learning_rate = 0.07,objective='reg:squarederror',max_depth=10,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

Percobaan 5 Tuning Parameter : n_estimators=320, learning_rate = 0.07,objective='reg:squarederror',max_depth=20,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

Percobaan 6 Tuning Parameter : n_estimators=320, learning_rate = 0.07,objective='reg:squarederror',max_depth=14,subsample=0.9,colsample_bytree=0.9

Percoban 7 Tuning Parameter : n_estimators=270, learning_rate = 0.07,objective='reg:squarederror',max_depth=14,subsample=0.9,colsample_bytree=0.9

In [69]:
mod2 = XGBRegressor(n_estimators=320, learning_rate = 0.07,objective='reg:squarederror',max_depth=10,min_child_weight=1,subsample=0.9,colsample_bytree=0.9

)
mod2.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.9, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.07, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=10, max_leaves=None,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=320, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

# Evaluasi Model

In [70]:
print(mod2.score(x_train,y_train))
print(mod2.score(x_test,y_test))

#mod2.predict(x_test)

0.9999881876145036
0.9996010654362486

In [71]:
prediction = mod2.predict(X.tail(30).values)
print(prediction)

[69021.03  72122.06  72315.67  72315.67  71377.016 69737.81  65020.473
 68397.836 67548.55  61698.164 67914.99  65496.79  63676.223 63702.19
 67240.2   69960.97  71047.35  69879.39  71047.35  69171.75  69171.75
 71047.35  69700.805 65448.09  65977.086 68497.67  67394.805 68895.945
 69166.57  71085.22 ]

In [72]:
print(mean_absolute_error(y.tail(30),prediction))
mean_absolute_percentage_error(y.tail(30),prediction)

263.48020833333334

0.0037787458911822465

In [74]:
n=100
prediction = mod2.predict(X.tail(n).values)
#open_price = X.tail(n).Open
index_df = y.tail(n).index
real_10 = y.tail(n).values.flatten()
pred_10 = prediction.flatten()

In [75]:
modal = 0 #dollar
result_df = pd.DataFrame({'y_real':real_10,'y_pred':pred_10},index=index_df)
result_df['sign_real'] = np.where(result_df.y_real - result_df.y_real.shift(1)>0,1,0)
result_df['sign_prediction'] = np.where(result_df.y_pred - result_df.y_pred.shift(1)>0,1,0)
result_df['same_sign'] = np.where(result_df['sign_prediction']==result_df['sign_real'],1,-1)
result_df['error'] = result_df['y_real'] - result_df['y_pred']
result_df['abs_error'] = abs(result_df['error'])
result_df['PnL'] = result_df.same_sign*result_df.abs_error
result_df['growth'] = modal + result_df['PnL'].cumsum()
result_df.same_sign.sum()/len(result_df)

0.92

In [76]:
result_df.tail()

,y_real,y_pred,sign_real,sign_prediction,same_sign,error,abs_error,PnL,growth
Date,,,,,,,,,
2024-04-04,68508.843750,68497.671875,1,1,1,11.171875,11.171875,11.171875,6099.835938
2024-04-05,67837.640625,67394.804688,0,0,1,442.835938,442.835938,442.835938,6542.671875
2024-04-06,68896.109375,68895.945312,1,1,1,0.164062,0.164062,0.164062,6542.835938
2024-04-07,69362.554688,69166.570312,1,1,1,195.984375,195.984375,195.984375,6738.820312
2024-04-08,72113.507812,71085.218750,1,1,1,1028.289062,1028.289062,1028.289062,7767.109375

In [77]:
result_df.loc[result_df.same_sign==-1]

,y_real,y_pred,sign_real,sign_prediction,same_sign,error,abs_error,PnL,growth
Date,,,,,,,,,
2024-03-07,66925.484375,65882.789062,1,0,-1,1042.695312,1042.695312,-1042.695312,3280.335938
2024-03-09,68498.882812,68281.179688,1,0,-1,217.703125,217.703125,-217.703125,3067.125000
2024-03-12,71481.289062,72315.671875,0,1,-1,-834.382812,834.382812,-834.382812,2235.828125
2024-03-13,73083.500000,72315.671875,1,0,-1,767.828125,767.828125,-767.828125,1468.000000

In [78]:
result_df = result_df[:-1]
result_df.tail()

,y_real,y_pred,sign_real,sign_prediction,same_sign,error,abs_error,PnL,growth
Date,,,,,,,,,
2024-04-03,65980.812500,65977.085938,1,1,1,3.726562,3.726562,3.726562,6088.664062
2024-04-04,68508.843750,68497.671875,1,1,1,11.171875,11.171875,11.171875,6099.835938
2024-04-05,67837.640625,67394.804688,0,0,1,442.835938,442.835938,442.835938,6542.671875
2024-04-06,68896.109375,68895.945312,1,1,1,0.164062,0.164062,0.164062,6542.835938
2024-04-07,69362.554688,69166.570312,1,1,1,195.984375,195.984375,195.984375,6738.820312

In [79]:
result_df.groupby(['same_sign'])[['error','PnL']].sum().reset_index()

   same_sign       error          PnL
0         -1  1193.84375 -2862.609375
1          1  3591.87500  9601.429688

In [81]:
result_df.describe()

,y_real,y_pred,sign_real,sign_prediction,same_sign,error,abs_error,PnL,growth
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,54481.453796,54433.117188,0.565657,0.545455,0.919192,48.340593,125.899384,68.068892,1982.057252
std,11424.037937,11401.655273,0.498193,0.500464,0.395814,324.830710,303.089511,321.239778,1920.219400
min,39507.367188,39519.257812,0.000000,0.000000,-1.000000,-1059.515625,0.046875,-1042.695312,2.593750
25%,43119.808594,43121.392578,0.000000,0.000000,1.000000,-7.273438,2.769531,2.234375,471.968750
50%,51733.238281,51784.769531,1.000000,1.000000,1.000000,-0.988281,8.710938,7.210938,1195.039062
75%,67079.828125,66668.179688,1.000000,1.000000,1.000000,12.666016,82.666016,25.896484,3175.273438
max,73083.500000,72315.671875,1.000000,1.000000,1.000000,2213.523438,2213.523438,2213.523438,6738.820312